body {
	font-family: Comic, Cursive, sans-serif;
	background: white;
	font-size: 120%;
}

header {
	display: flex;
	background: black;
	height: 3%;
	font: white;
	padding: 1%;
}

header #logo {
	display: inline-block;
	color: white;
	text-decoration: none;
	font-size: 310%;
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
}

header #login-join {
	display: inline-block;
	float: right;
	vertical-align: middle;
}

a.button {
	display: inline-block;
	color: white;
	width: 80px;
	height: 2%;
	cursor: pointer;
}

main {
	width: 70%;
	margin-right: auto;
	margin-left: auto;
	border: solid 2px black;
	margin-top: 2%;
	margin-bottom: 2%;
}

main #errors {
	color: red;
	padding: 1%;
}

main #signed-in {
	font-size: 120%;
	float: left;
	padding: 1%;
}
/*header #signed-in {
    flex: 1;
    -webkit-flex: 1;
    text-align: right; 
    font-size: 150%,
    color: black; 
}


body #post-a-peep {
	background: #facbc3;
	display: inline-block;
	width: 150px;
	height: 20px;
	cursor: pointer;
	border: 2px solid;
	text-decoration: none;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	vertical-align: middle;
	color: #183745;
	font-size: 120%;

}

body #peeps {
	padding: 30px;
	font-size: 120%;
}*/*/