<!DOCTYPE html>
<html>
	<head>
		<title>Chitter</title>
		<link rel="stylesheet" type="text/css" href="/css/reset.css"> 
	 	<link rel="stylesheet" type="text/css" href="/css/application.css">
	</head>
	<body>
	  <header>
	<!-- 	======================================================
			Logo
			====================================================== --> 
	  	<a href='#' id="logo">Chitter</a>
	<!-- 	======================================================
			"login" & "join" buttons
			====================================================== -->
			<section id="login-join">
	    		<a id="login" href="#" class="button">Log in</a>
	    		<a id="join" href="#" class="button">Join</a>
	    </section>
	<!-- 	======================================================
			"You're signed in as" message
			====================================================== -->
			<section id="signed-in">   	
	    	<h3 id="message">You are signed in as </h3>
	    	<h3 id="name-signed-in"></h3>
				<a id="sign-out" href="#">Sign Out</a>
			</section>
		</header>
		<main>
			<h1 id="errors"></h1>
	<!-- 	======================================================
			Sign-up window
			====================================================== -- -->
			<section id="signing-up">
				Full Name: <input id="full_name" type="text" name="name">
				User Name: <input id="user_name" type="text" name="user_name">
				Email: <input id="email_create" type="text" name="email">
				Password: <input id="password_create" type="password" name="password">
				<a id="sign-up" href="#">Sign Up</a>
			</section>
	<!-- 	======================================================
			Sign-in window
			===================================================== -->
			<section id="signing-in">
				Email: <input id="email" type="text" name="email">
				Password: <input id="password" type="password" name="password">
				<a href="#" id="sign-in">Sign In</a>
			</section>
	<!-- 	======================================================
			Peeps
			===================================================== -->
			<section id="peeps"></section>
			<template id="peepTemplate" type="text/x-handlebars-template">
				<h1>User: {{name}}</h1>
				<h2>Username: {{user_name}}</h2>
				<p>Time: {{time_added}}</p>
				<p>Message: {{message}}</p>	
			</template>
			<a id="post-a-peep" href="#">Post a Peep</a>
	<!-- 	================================================================================
			Posting Peeps
			================================================================================ -->
			<form id="posting-peep">
				Message: <textarea rows="7" cols="20" id="content" type="text" name="content"></textarea>
				<a href="#" id="post-this">Post</a>
			</form>
		</main>
	<!-- 	============================================================================= -->
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/interface.js"></script>
		<script type="text/javascript" src="js/handlebars.js"></script>
	</body>
</html>


